* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: green;
    --big-text: 20px;
}

h1 {
    margin: 20px;
}

.wrapper {
    /* --text-color: blue; */
}

.block {
    width: 500px;
    margin: 20px;
    color: var(--text-color);
}

.test {
    font-size: var(--big-text);
    color: var(--text-color);
}

@media (max-width: 600px) {
    :root {
        --text-color: lightblue;
        --big-text: 15px;
    }
}